<div class="col-lg-8">
<% if @topic == nil %>
    <h2>Все посты</h2>
  <% else %>
    <h2><%= @topic.title %></h2>
<% end %>
    <% @posts.each do |post|%>
    <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted"><%= post.created_at %></div>
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.body %></p>
            <a class="btn btn-primary" href="/posts/<%= post.id %>">Читать больше →</a>
        </div>
    </div>
    <% end %>

    <div class="pagination justify-content-center">
        <%= paginate @posts %>
    </div>    
</div>


