
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted"><%= @post.created_at %></div>
            <h2 class="card-title h4"><%= @post.title %></h2>
            <p class="card-text"><%= @post.body%></p>
        </div>
    </div>


        <% @comments.each do |comment| %>
        <div class="media mb-4">
          <div class="media-body">
            <h3 class="mt-0">Commenter Name</h3>
            <%= comment.body %>
            <% if @replies.key?(comment.id) %>
              <% @replies[comment.id].each do |reply| %>
                <div class="media mt-4">
                  <div class="media-body">
                    <h6 class="mt-0">Commenter Name</h6>
                      <%= reply.body %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
